In [27]:
#importing libraries
import pandas as pd
import numpy as np

In [28]:
#Data Analysis And Wrangling
test=pd.read_csv('tested.csv')
print(test)

     PassengerId  Survived  Pclass  \
0            892         0       3
1            893         1       3
2            894         0       2
3            895         0       3
4            896         1       3
..           ...       ...     ...
413         1305         0       3
414         1306         1       1
415         1307         0       3
416         1308         0       3
417         1309         0       3

                                             Name     Sex   Age  SibSp  Parch  \
0                                Kelly, Mr. James    male  34.5      0      0
1                Wilkes, Mrs. James (Ellen Needs)  female  47.0      1      0
2                       Myles, Mr. Thomas Francis    male  62.0      0      0
3                                Wirz, Mr. Albert    male  27.0      0      0
4    Hirvonen, Mrs. Alexander (Helga E Lindqvist)  female  22.0      1      1
..                                            ...     ...   ...    ...    ...
413                            Spector, Mr. Woolf    male   NaN      0      0
414                  Oliva y Ocana, Dona. Fermina  female  39.0      0      0
415                  Saether, Mr. Simon Sivertsen    male  38.5      0      0
416                           Ware, Mr. Frederick    male   NaN      0      0
417                      Peter, Master. Michael J    male   NaN      1      1

                 Ticket      Fare Cabin Embarked
0                330911    7.8292   NaN        Q
1                363272    7.0000   NaN        S
2                240276    9.6875   NaN        Q
3                315154    8.6625   NaN        S
4               3101298   12.2875   NaN        S
..                  ...       ...   ...      ...
413           A.5. 3236    8.0500   NaN        S
414            PC 17758  108.9000  C105        C
415  SOTON/O.Q. 3101262    7.2500   NaN        S
416              359309    8.0500   NaN        S
417                2668   22.3583   NaN        C

[418 rows x 12 columns]

In [29]:
#indexing columns details
test['test'] = 0
test['Survived'] = np.NaN
all_data = pd.concat([test])
all_data.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked', 'test'],
      dtype='object')

In [30]:
#first values of the data file
test.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,test
0,892,NaN,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q,0
1,893,NaN,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S,0
2,894,NaN,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q,0
3,895,NaN,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S,0
4,896,NaN,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S,0

In [31]:
#last values of the data file
test.tail()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,test
413,1305,NaN,3,"Spector, Mr. Woolf",male,NaN,0,0,A.5. 3236,8.0500,NaN,S,0
414,1306,NaN,1,"Oliva y Ocana, Dona. Fermina",female,39.0,0,0,PC 17758,108.9000,C105,C,0
415,1307,NaN,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,SOTON/O.Q. 3101262,7.2500,NaN,S,0
416,1308,NaN,3,"Ware, Mr. Frederick",male,NaN,0,0,359309,8.0500,NaN,S,0
417,1309,NaN,3,"Peter, Master. Michael J",male,NaN,1,1,2668,22.3583,NaN,C,0

In [32]:
#data file sort index
test.sort_index()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,test
0,892,NaN,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q,0
1,893,NaN,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S,0
2,894,NaN,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q,0
3,895,NaN,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S,0
4,896,NaN,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
413,1305,NaN,3,"Spector, Mr. Woolf",male,NaN,0,0,A.5. 3236,8.0500,NaN,S,0
414,1306,NaN,1,"Oliva y Ocana, Dona. Fermina",female,39.0,0,0,PC 17758,108.9000,C105,C,0
415,1307,NaN,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,SOTON/O.Q. 3101262,7.2500,NaN,S,0
416,1308,NaN,3,"Ware, Mr. Frederick",male,NaN,0,0,359309,8.0500,NaN,S,0
417,1309,NaN,3,"Peter, Master. Michael J",male,NaN,1,1,2668,22.3583,NaN,C,0

In [33]:
#describing values of the data file
test.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare,test
count,418.000000,0.0,418.000000,332.000000,418.000000,418.000000,417.000000,418.0
mean,1100.500000,NaN,2.265550,30.272590,0.447368,0.392344,35.627188,0.0
std,120.810458,NaN,0.841838,14.181209,0.896760,0.981429,55.907576,0.0
min,892.000000,NaN,1.000000,0.170000,0.000000,0.000000,0.000000,0.0
25%,996.250000,NaN,1.000000,21.000000,0.000000,0.000000,7.895800,0.0
50%,1100.500000,NaN,3.000000,27.000000,0.000000,0.000000,14.454200,0.0
75%,1204.750000,NaN,3.000000,39.000000,1.000000,0.000000,31.500000,0.0
max,1309.000000,NaN,3.000000,76.000000,8.000000,9.000000,512.329200,0.0

In [34]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 13 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Survived     0 non-null      float64
 2   Pclass       418 non-null    int64
 3   Name         418 non-null    object
 4   Sex          418 non-null    object
 5   Age          332 non-null    float64
 6   SibSp        418 non-null    int64
 7   Parch        418 non-null    int64
 8   Ticket       418 non-null    object
 9   Fare         417 non-null    float64
 10  Cabin        91 non-null     object
 11  Embarked     418 non-null    object
 12  test         418 non-null    int64
dtypes: float64(3), int64(5), object(5)
memory usage: 42.6+ KB

In [35]:
#Visualization plotting
import matplotlib.pyplot as plt
plt.close("all")
import seaborn as sns
sns.set()

In [36]:
#visualization of Pclass passengers
import matplotlib.pyplot as plt
test["Pclass"].plot(kind='hist')
plt.show()

In [37]:
# seperating the data into numeric and categorical
df_num = test[['Age','SibSp','Parch','Fare']]
df_cat = test[['Survived','Pclass','Sex','Ticket','Cabin','Embarked']]

In [38]:
import  matplotlib.pyplot as plt
for  i in df_num.columns:
     plt.hist(df_num[i])
     plt.title(i)
     plt.show()

In [39]:
#cabin passengers details
test=pd.read_csv('tested.csv')

test['cabin_multiple'] = test.Cabin.apply(lambda x: 0 if pd.isna(x) 
                                                    else len(x.split(' ')))
test['cabin_multiple'].value_counts()

In [40]:
#Visualization heatmap
import seaborn as sns
sns.heatmap(df_num.corr())

In [41]:
#finding pivot of columns
pd.pivot_table(test, index = 'Survived', values = ['Age','SibSp','Parch','Fare'])

,Age,Fare,Parch,SibSp
Survived,,,,
0,30.272732,27.527877,0.274436,0.379699
1,30.272362,49.747699,0.598684,0.565789

In [42]:
print(pd.pivot_table(test, index = 'Survived', columns = 'Pclass',
                     values = 'Ticket' ,aggfunc ='count'))
print()
print(pd.pivot_table(test, index = 'Survived', columns = 'Sex', 
                     values = 'Ticket' ,aggfunc ='count'))
print()
print(pd.pivot_table(test, index = 'Survived', columns = 'Embarked', 
                     values = 'Ticket' ,aggfunc ='count'))

Pclass     1   2    3
Survived
0         57  63  146
1         50  30   72

Sex       female   male
Survived
0            NaN  266.0
1          152.0    NaN

Embarked   C   Q    S
Survived
0         62  22  182
1         40  24   88

In [43]:
#information of cabin passengers
df_cat.Cabin
test['cabin_multiple'] = test.Cabin.apply(lambda x: 0 if pd.isna(x) 
                                                    else len(x.split(' ')))
test['cabin_multiple'].value_counts()

In [44]:
# n stands for null
# in this case we will treat null values like it's own category
test['cabin_adv'] = test.Cabin.apply(lambda x: str(x)[0])
#comparing survival rates by cabin
print(test.cabin_adv.value_counts())
pd.pivot_table(test,index='Survived',columns='cabin_adv', 
                        values = 'Name', aggfunc='count')

n    327
C     35
B     18
D     13
E      9
F      8
A      7
G      1
Name: cabin_adv, dtype: int64

cabin_adv,A,B,C,D,E,F,G,n
Survived,,,,,,,,
0,4.0,9.0,16.0,8.0,5.0,5.0,NaN,219.0
1,3.0,9.0,19.0,5.0,4.0,3.0,1.0,108.0

In [45]:
test['numeric_ticket'] = test.Ticket.apply(lambda x: 1 if x.isnumeric() else 0)
test['ticket_letters'] = test.Ticket.apply(lambda x: ''.join(x.split(' ')[:-1])
                                            .replace('.','').replace('/','')
                                            .lower() if len(x.split(' ')[:-1]) >0 else 0)

In [46]:
test.Name.head(50)
test['name_title'] = test.Name.apply(lambda x: x.split(',')[1]
                                                        .split('.')[0].strip())
test['name_title'].value_counts()

In [47]:
x=test.iloc[:,:4]
y=test.iloc[:,4]
print(x)
print(y)

     PassengerId  Survived  Pclass  \
0            892         0       3
1            893         1       3
2            894         0       2
3            895         0       3
4            896         1       3
..           ...       ...     ...
413         1305         0       3
414         1306         1       1
415         1307         0       3
416         1308         0       3
417         1309         0       3

                                             Name
0                                Kelly, Mr. James
1                Wilkes, Mrs. James (Ellen Needs)
2                       Myles, Mr. Thomas Francis
3                                Wirz, Mr. Albert
4    Hirvonen, Mrs. Alexander (Helga E Lindqvist)
..                                            ...
413                            Spector, Mr. Woolf
414                  Oliva y Ocana, Dona. Fermina
415                  Saether, Mr. Simon Sivertsen
416                           Ware, Mr. Frederick
417                      Peter, Master. Michael J

[418 rows x 4 columns]
0        male
1      female
2        male
3        male
4      female
        ...
413      male
414    female
415      male
416      male
417      male
Name: Sex, Length: 418, dtype: object

In [48]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,random_state=0)

In [49]:
x_train.shape

(313, 4)

In [50]:
x_test.shape

(105, 4)

In [51]:
y_train.shape

(313,)

In [52]:
y_test.shape

(105,)